body {
  background-color: beige;
  border-radius: 15px;
  width: 900px;
  margin: 25px auto;
  padding: 2px 150px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  text-align: center;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  letter-spacing: 2px;
}
a:hover {
  font-weight: bold;
  color: rgb(122, 5, 5);
}
